<!-- Contenedor principal: dos columnas en md+ y columna en xs -->
<main class="pt-32 min-h-screen bg-gray-100 flex justify-center items-start">
  <div class="w-full max-w-3xl flex flex-col md:flex-row bg-white rounded-lg overflow-hidden shadow-lg">

    <!-- Columna del formulario de login -->
    <div
      class="w-full md:w-1/2 p-6 mb-5 md:mb-0 bg-white shadow-lg rounded animate-fadein "
    >
      <div class="flex flex-col items-center">
        <h1 class="text-4xl font-bold text-green-950 mb-5 mt-3 animate-fadein">
          Login
        </h1>

        <!-- Mensaje de credenciales incorrectas -->
        <div
          *ngIf="errorMessage"
          class="mb-3 mx-auto w-fit max-w-md text-center px-6 py-3 rounded-xl bg-red-100 text-red-700 transition-opacity duration-300 animate-fadein shadow-md"
        >
          {{ errorMessage }}
        </div>

        <!-- Formulario de Login -->
        <form
          [formGroup]="form"
          (ngSubmit)="login($event)"
          class="w-4/5 space-y-4"
        >
          <!-- Campo Email -->
          <div>
            <label
              for="email"
              class="block text-shadow-slate-700 text-sm font-bold mb-2"
            >
              Email
            </label>
            <input
              id="email"
              type="email"
              placeholder="Introduce tu email"
              formControlName="email"
              class="w-full p-2 border border-shadow-slate-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <!-- Mensajes de validación para el email -->
            <app-error-message
              [control]="form.controls['email']"
              fieldName="Email"
            ></app-error-message>
          </div>

          <!-- Campo Password -->
          <div>
            <label
              for="password"
              class="block text-shadow-slate-700 text-sm font-bold mb-2"
            >
              Contraseña
            </label>
            <input
              id="password"
              type="password"
              placeholder="Introduce tu contraseña"
              formControlName="password"
              class="w-full p-2 border border-shadow-slate-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <!-- Mensaje de validación para el password -->
            <app-error-message
              [control]="form.controls['password']"
              fieldName="Contraseña"
            ></app-error-message>
          </div>

          <!-- Botón de Submit -->
          <button
            type="submit"
            class="w-full bg-green-950 text-white p-2 rounded hover:bg-green-900 font-semibold cursor-pointer"
          >
            Entrar
          </button>
        </form>

        <!-- <div class="mt-3 text-center">
          <a
            routerLink="/forgot-password"
            class="text-red-800 underline text-center cursor-pointer"
          >
            ¿has olvidado tu contraseña?
          </a>
        </div> -->
      </div>
    </div>

    <!-- Columna lateral con imagen de fondo -->
    <div
      id="image-colum"
      class="w-full md:w-1/2 relative flex flex-col justify-end items-start animate-fadeinLong"
    >
      <!-- Overlay -->
      <div class="absolute inset-0 bg-black opacity-25"></div>
      <h1
        class="relative text-white text-4xl font-bold ml-6 mb-4 animate-slideright py-5"
      >
        Bienvenido!
      </h1>
      <hr class="relative h-2 w-32 bg-white ml-6 mb-20 animate-slideright" />
    </div>
  </div>
</main>
