<!-- Modal de edición -->
<ng-container
  *ngIf="user as u"
  class="fixed inset-0 bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="max-w-2/3 w-full p-8 bg-slate-50 mx-auto rounded-2xl shadow-xl">
    <h5 class="mb-2 text-xl text-[#052C13] font-bold tracking-tight">
      Editar Usuario
    </h5>

    <input
      [(ngModel)]="u.name"
      class="mb-3 w-full p-2 border border-green-900 rounded-lg text-shadow-slate-700 placeholder-slate-500"
      placeholder="Nombre"
    />

    <input
      [(ngModel)]="u.email"
      class="mb-3 w-full p-2 border border-green-900 rounded-lg text-shadow-slate-700 placeholder-slate-500"
      placeholder="Nombre"
    />

    <div
      id="roles"
      class="w-full p-2 border border-shadow-slate-300 rounded focus:outline-none focus:ring-2 focus:ring-green-900 text-shadow-slate-700 placeholder-slate-500"
    >
      <input
        class="accent-green-900"
        type="checkbox"
        [value]="'ROLE_ADMIN'"
        (change)="onEditRoleChange('ROLE_ADMIN', $event)"
        [checked]="u.roles.includes('ROLE_ADMIN')"
      />
      Administrador <br />
      <input
        class="accent-green-900"
        type="checkbox"
        [value]="'ROLE_USER'"
        (change)="onEditRoleChange('ROLE_USER', $event)"
        [checked]="u.roles.includes('ROLE_USER')"
      />
      Usuario<br />
      <input
        class="accent-green-900"
        type="checkbox"
        [value]="'ROLE_USER_LIMITED'"
        (change)="onEditRoleChange('ROLE_USER_LIMITED', $event)"
        [checked]="u.roles.includes('ROLE_USER_LIMITED')"
      />
      Usuario limitado<br />
    </div>
    <br />

    <div class="flex justify-end gap-2">
      <app-btn (click)="cancelEdit()"> Cancelar </app-btn>
      <app-btn (click)="saveEdit()">Guardar</app-btn>
    </div>
  </div>
</ng-container>
