<!-- Add User -->
<div>
  <form [formGroup]="formAdd" class="space-y-2 mb-8" (ngSubmit)="addUser()">
    <!-- name -->
    <div>
      <label
        for="name"
        class="block text-shadow-slate-700 text-sm font-bold mb-2"
      >
        Nombre del usuario
      </label>
      <input
        id="name"
        type="text"
        placeholder="Introduce nombre"
        formControlName="name"
        class="w-full p-2 border border-shadow-slate-300 rounded focus:outline-none focus:ring-1 focus:ring-green-950"
      />
      <!-- Mensajes de validación para el nombre -->
      <app-error-message
        [control]="formAdd.controls['name']"
        fieldName="Nombre"
      ></app-error-message>
    </div>

    <!-- Email -->
    <div>
      <label
        for="email"
        class="block text-shadow-slate-700 text-sm font-bold mb-2"
      >
        Email
      </label>
      <input
        id="email"
        type="email"
        placeholder="Introduce email"
        formControlName="email"
        class="w-full p-2 border border-shadow-slate-300 rounded focus:outline-none focus:ring-1 focus:ring-green-950"
      />
      <!-- Mensajes de validación para el email -->
      <app-error-message
        [control]="formAdd.controls['email']"
        fieldName="Email"
      ></app-error-message>
    </div>

    <!-- Password -->
    <div>
      <label
        for="password"
        class="block text-shadow-slate-700 text-sm font-bold mb-2"
      >
        Contraseña
      </label>
      <input
        id="password"
        type="password"
        placeholder="Introduce contraseña"
        formControlName="password"
        class="w-full p-2 border border-shadow-slate-300 rounded focus:outline-none focus:ring-1 focus:ring-green-950"
      />
      <!-- Mensaje de validación para el password -->
      <app-error-message
        [control]="formAdd.controls['password']"
        fieldName="Contraseña"
      ></app-error-message>
    </div>

    <!-- Roles -->
    <div>
      <label
        for="Roles"
        class="block text-shadow-slate-700 text-sm font-bold mb-2"
      >
        Rol
      </label>
      <div
        id="roles"
        formArrayName="roles"
        class="w-full p-2 border border-shadow-slate-300 rounded focus:outline-none focus:ring-1 focus:ring-green-950"
      >
        <input
          type="checkbox"
          value="ROLE_ADMIN"
          (change)="onRoleChange('ROLE_ADMIN', $event)"
        />
        Administrador <br />
        <input
          type="checkbox"
          value="ROLE_USER"
          (change)="onRoleChange('ROLE_USER', $event)"
        />
        Usuario<br />
        <input
          type="checkbox"
          value="ROLE_USER_LIMITED"
          (change)="onRoleChange('ROLE_USER_LIMITED', $event)"
        />
        Usuario limitado<br />
      </div>

      <!-- Mensajes de validación del rol -->
      <app-error-message
        [control]="formAdd.controls['roles']"
        fieldName="Roles"
      ></app-error-message>
    </div>
    <br />

    <app-btn
      type="submit"
      [disabled]="isFormInvalid()"      
      [ngClass]="{
        '!cursor-not-allowed': isFormInvalid()
      }"
    >
      Añadir usuario
    </app-btn>
  </form>
</div>
