<form [formGroup]="costaForm" (ngSubmit)="onSubmit()" class="grid gap-4">
  <!-------------------ESTADO--------------->
  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="estado">
      <mat-option *ngFor="let estado of estadosList" [value]="estado.value">
        {{ estado.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-------------------ESTAD COBRO---------->
  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label>Estado Cobro</mat-label>
    <mat-select formControlName="estadoCobro">
      <mat-option
        *ngFor="let estadoCobro of estadosCobroList"
        [value]="estadoCobro.value"
      >
        {{ estadoCobro.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-------------------CLIENTE-------------------->
  <mat-form-field appearance="fill">
    <mat-label>Cliente</mat-label>
    <input
      matInput
      type="text"
      matInput
      [formControl]="clienteControl"
      [matAutocomplete]="autoCliente"
      placeholder="Buscar cliente..."
    />
    <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let cliente of filteredClientes" [value]="cliente">
        {{ cliente.nombre }} {{ cliente.apellido1 }} {{ cliente.apellido2 }}
      </mat-option>
      <mat-option
        *ngIf="
          filteredClientes.length === 0 &&
          clienteControl.value &&
          isClienteLoaded &&
          !mostrarFormularioNuevoCliente
        "
        disabled
      >
        Sin coincidencias
      </mat-option>
    </mat-autocomplete>
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Crear cliente"
      (click)="abrirFormularioCliente()"
      class="cursor-pointer mx-2"
    >
      Crear nuevo
    </button>
  </mat-form-field>

  <!-- Modal de Alta de Cliente -->
  <app-add-cliente
    *ngIf="mostrarFormularioNuevoCliente"
    (clienteCreado)="clienteCreado($event)"
    (cancelar)="mostrarFormularioNuevoCliente = false"
  >
  </app-add-cliente>

  <!---------------- AUTOS (patrón “número/4 dígitos”) --------------->
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Autos</mat-label>
    <input
      matInput
      type="text"
      formControlName="autos"
      placeholder="12345/6789"
    />
    <mat-error *ngIf="costaForm.get('autos')?.hasError('required')">
      El campo “Autos” es obligatorio.
    </mat-error>
    <mat-error *ngIf="costaForm.get('autos')?.hasError('pattern')">
      El formato debe ser nnn/aaaa (ej: 123/2023)
    </mat-error>
  </mat-form-field>

  <!---------------- JUZGADO --------------->
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Juzgado</mat-label>
    <input
      matInput
      type="text"
      [formControl]="juzgadoControl"
      [matAutocomplete]="autoJuzgado"
      placeholder="Buscar juzgado..."
      (blur)="onJuzgadoBlur()"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Crear juzgado"
      (click)="abrirFormularioJuzgado()"
      class="cursor-pointer mx-2"
      *ngIf="!mostrarFormularioNuevoJuzgado"
    >
      Crear nuevo
    </button>

    <mat-autocomplete
      #autoJuzgado="matAutocomplete"
      [displayWith]="displayFnJuzgado"
    >
      <mat-option
        *ngFor="let juzgado of filteredJuzgados"
        [value]="juzgado"
        (onSelectionChange)="onJuzgadoSelected(juzgado)"
      >
        {{ juzgado.nombre }}
      </mat-option>
      <mat-option
        *ngIf="
          filteredJuzgados.length === 0 &&
          juzgadoControl.value &&
          isJuzgadoLoaded &&
          !mostrarFormularioNuevoJuzgado
        "
        disabled
      >
        Sin coincidencias
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Modal de Alta de Juzgado -->
  <app-add-juzgado
    *ngIf="mostrarFormularioNuevoJuzgado"
    (juzgadoCreado)="juzgadoCreado($event)"
    (cancelar)="mostrarFormularioNuevoJuzgado = false"
  ></app-add-juzgado>

  <!-------------------PROCURADOR-------------------->
  <mat-form-field appearance="fill">
    <mat-label>Procurador</mat-label>
    <input
      matInput
      type="text"
      [formControl]="procuradorControl"
      [matAutocomplete]="autoProcurador"
      placeholder="Buscar procurador..."
      (blur)="onProcuradorBlur()"
    />
    <mat-autocomplete
      #autoProcurador="matAutocomplete"
      [displayWith]="displayFn"
    >
      <mat-option
        *ngFor="let procurador of filteredProcuradores"
        [value]="procurador"
        (onSelectionChange)="onProcuradorSelected(procurador)"
      >
        {{ procurador.nombre }} {{ procurador.apellido1 }}
        {{ procurador.apellido2 }}
      </mat-option>
      <mat-option
        *ngIf="
          filteredProcuradores.length === 0 &&
          procuradorControl.value &&
          isProcuradorLoaded &&
          !mostrarFormularioNuevoProcurador
        "
        disabled
      >
        Sin coincidencias
      </mat-option>
    </mat-autocomplete>
    <button
      mat-icon-button
      matSuffix
      type="button"
      *ngIf="!mostrarFormularioNuevoProcurador"
      aria-label="Crear procurador"
      (click)="abrirFormularioProcurador()"
      class="cursor-pointer mx-2"
    >
      Crear nuevo
    </button>
  </mat-form-field>

  <!-- Modal de Alta de Procurador -->
  <app-add-procurador
    *ngIf="mostrarFormularioNuevoProcurador"
    (procuradorCreado)="procuradorCreado($event)"
    (cancelar)="mostrarFormularioNuevoProcurador = false"
  >
  </app-add-procurador>

  <!---------------- FECHA TC ---------------->
<mat-form-field appearance="fill" class="w-full mb-4">
  <mat-label>Fecha TC</mat-label>
  <input matInput [matDatepicker]="pickerFechaTC" formControlName="fechaTC" />
  <mat-datepicker-toggle matSuffix [for]="pickerFechaTC"></mat-datepicker-toggle>
  <mat-datepicker #pickerFechaTC></mat-datepicker>
</mat-form-field>

<!---------------- FECHA 15 TC ---------------->
<mat-form-field appearance="fill" class="w-full mb-4">
  <mat-label>Fecha 15 TC</mat-label>
  <input matInput [matDatepicker]="pickerFecha15TC" formControlName="fecha15TC" />
  <mat-datepicker-toggle matSuffix [for]="pickerFecha15TC"></mat-datepicker-toggle>
  <mat-datepicker #pickerFecha15TC></mat-datepicker>
</mat-form-field>

<!---------------- FECHA DECRETO ---------------->
<mat-form-field appearance="fill" class="w-full mb-4">
  <mat-label>Fecha Decreto</mat-label>
  <input matInput [matDatepicker]="pickerFechaDecreto" formControlName="fechaDecreto" />
  <mat-datepicker-toggle matSuffix [for]="pickerFechaDecreto"></mat-datepicker-toggle>
  <mat-datepicker #pickerFechaDecreto></mat-datepicker>
</mat-form-field>

<!---------------- FECHA 20 DECRETO ---------------->
<mat-form-field appearance="fill" class="w-full mb-4">
  <mat-label>Fecha 20 Decreto</mat-label>
  <input matInput [matDatepicker]="pickerFecha20Decreto" formControlName="fecha20Decreto" />
  <mat-datepicker-toggle matSuffix [for]="pickerFecha20Decreto"></mat-datepicker-toggle>
  <mat-datepicker #pickerFecha20Decreto></mat-datepicker>
</mat-form-field>

  <!-------------------TIPO PROCEDIMIENTO-------------------->
  <label class="block">
    Tipo de procedimiento:
    <input type="text" formControlName="tipoProcedimiento" class="input" />
  </label>

  <!-------------------CONTRARIO-------------------->
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Contrario</mat-label>
    <input
      matInput
      [formControl]="contrarioControl"
      [matAutocomplete]="autoContrario"
      [placeholder]="'Buscar contrario...'"
    />
    <button
      *ngIf="!mostrarFormularioNuevoContrario"
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Crear contrario"
      (click)="abrirFormularioContrario()"
      class="cursor-pointer mx-2"
    >
      Crear nuevo
    </button>

    <mat-autocomplete
      #autoContrario="matAutocomplete"
      [displayWith]="displayFnContrario"
    >
      <mat-option
        *ngFor="let contrario of filteredContrarios"
        [value]="contrario"
      >
        {{ contrario.nombre }}
      </mat-option>
      <mat-option
        *ngIf="
          filteredContrarios.length === 0 &&
          contrarioControl.value &&
          isContrarioLoaded &&
          !mostrarFormularioNuevoContrario
        "
        disabled
      >
        Sin coincidencias
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Modal de Alta de Contrario -->
  <app-add-contrario
    *ngIf="mostrarFormularioNuevoContrario"
    (contrarioCreado)="contrarioCreado($event)"
    (cancelar)="mostrarFormularioNuevoContrario = false"
  >
  </app-add-contrario>

  <!---------------- IMPORTE --------------->
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Importe</mat-label>
    <input
      matInput
      type="number"
      formControlName="importe"
      placeholder="0.00"
      (wheel)="$event.preventDefault()"
    />
    <mat-error *ngIf="costaForm.get('importe')?.hasError('required')">
      El importe es obligatorio.
    </mat-error>
  </mat-form-field>

  <app-btn
    type="submit"
    [disabled]="costaForm.invalid"
    class="btn mx-auto text-white mt-4"
    >Guardar</app-btn
  >
</form>
