<form [formGroup]="costaForm" (ngSubmit)="onSubmit()" class="grid gap-4">
  <mat-form-field appearance="fill" class="w-full mb-4">
  <mat-label>Estado</mat-label>
  <mat-select formControlName="estado">
    <mat-option *ngFor="let estado of estadosList" [value]="estado.value">
      {{ estado.value }}
    </mat-option>
  </mat-select>
</mat-form-field>
  <!-------------------CLIENTE-------------------->
  <mat-form-field appearance="fill">
    <mat-label>Cliente</mat-label>
    <input
      matInput
      type="text"
      matInput
      [formControl]="clienteControl"
      [matAutocomplete]="autoCliente"
    />
    <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let cliente of filteredClientes" [value]="cliente">
        {{ cliente.nombre }} {{ cliente.apellido1 }} {{ cliente.apellido2 }}
      </mat-option>
    </mat-autocomplete>
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Crear cliente"
      (click)="abrirFormularioCliente()"
      class="cursor-pointer mx-2"
    > 
      Crear nuevo
    </button>
  </mat-form-field>

  <!-- Modal de Alta de Cliente -->
  <app-add-cliente
    *ngIf="mostrarFormularioNuevoCliente"
    (clienteCreado)="clienteCreado($event)"
    (cancelar)="mostrarFormularioNuevoCliente = false"
  >
  </app-add-cliente>

  <label class="block">
    Autos:
    <input type="text" formControlName="autos" class="input" />
  </label>

  <label class="block">
    Juzgado:
    <input type="text" formControlName="juzgado" class="input" />
  </label>

  <label class="block">
    Procurador:
    <input type="text" formControlName="procurador" class="input" />
  </label>
  <label class="block">
    Tipo de procedimiento:
    <input type="text" formControlName="procurador" class="input" />
  </label>

   <!-------------------CONTRARIO-------------------->
  <mat-form-field appearance="fill" class="w-full">
  <mat-label>Contrario</mat-label>
  <input
    matInput
    [formControl]="contrarioControl"
    [matAutocomplete]="autoContrario"
    [placeholder]="'Buscar contrario...'"
  />
  <button
    *ngIf="!mostrarFormularioNuevoContrario"
    mat-icon-button
    matSuffix
    type="button"
    aria-label="Crear contrario"
    (click)="abrirFormularioContrario()"
    class="cursor-pointer mx-2"
  >
    Crear nuevo
  </button>

  <mat-autocomplete #autoContrario="matAutocomplete" [displayWith]="displayFnContrario">
    <mat-option *ngFor="let contrario of filteredContrarios" [value]="contrario">
      {{ contrario.nombre }}      
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<!-- Modal de Alta de Contrario -->
  <app-add-contrario
    *ngIf="mostrarFormularioNuevoContrario"
    (contrarioCreado)="contrarioCreado($event)"
    (cancelar)="mostrarFormularioNuevoContrario = false"
  >
  </app-add-contrario>


  <label class="block">
    Importe:
    <input type="number" formControlName="importe" class="input" />
  </label>

  <app-btn type="submit" class="btn mx-auto text-white mt-4">Guardar</app-btn>
</form>
