/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --primary-color: #052c13;
}
.bg-dg {
  background-color: #052c13;
}

.header-p {
  background-color: #052c13;
  height: 6rem;
}

.txt-dg {
  color: #052c13;
}

.txt-sb {
  color: #512f15;
}



html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}


