<div class="transition duration-300">
  <main class="px-4 min-h-2/4 w-full m-auto mt-10">
    <div class="flex justify-between my-4 text-xl tracking-wide">
      <h2 class="font-extrabold uppercase text-[#052C13] drop-shadow-md">
        Costas
      </h2>
      <app-btn (click)="openModal()">Alta costas</app-btn>
    </div>

    <app-modal-wrapper
      *ngIf="showModal"
      [visible]="showModal"
      [title]="costaEnEdicion ? 'Editar Costa' : 'Alta de Costas'"
      (close)="closeModal()"
    >
      <app-add-modal
        [costaToEdit]="costaEnEdicion"
        (save)="onSaveCosta($event)"
      ></app-add-modal>
    </app-modal-wrapper>

    <!----------------------------- TABLA ------------------------------>
    <div
      class="relative overflow-x-auto shadow-lg rounded-2xl z-20 max-h-[665px] overflow-y-auto"
    >
      <table class="able-auto text-sm text-left rtl:text-right min-w-full">
        <thead class="text-white font-bold bg-dg tracking-wide">
          <tr>
            <th class="px-6 py-3">Estado</th>
            <th class="px-6 py-3 w-30 truncate">Cliente</th>
            <th class="px-6 py-3">Autos</th>
            <th class="px-6 py-3">Juzgado</th>
            <th class="px-6 py-3">Procurador</th>
            <th class="px-6 py-3">Tasación</th>
            <th class="px-6 py-3">+15 días</th>
            <th class="px-6 py-3">Decreto</th>
            <th class="px-6 py-3">+20 días</th>
            <th class="px-6 py-3">Procedimiento</th>
            <th class="px-6 py-3">Contrario</th>
            <th class="px-6 py-3">Importe</th>
            <th class="px-3 py-3 w-20">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let costa of pagedCostas; let i = index">
            <!-- Fila principal -->
            <tr class="hover:bg-gray-50 border-b border-gray-200">
              <td
                class="px-4 py-4 text-dg font-semibold cursor-pointer hover:underline hover:text-green-700"
                (click)="
                  expandedElement = expandedElement === costa ? null : costa
                "
              >
                {{ costa.estado }}
              </td>
              <td
                class="px-4 py-4 w-30 whitespace-nowrap overflow-hidden text-ellipsis"
              >
                {{ costa.expediente?.cliente?.nombre }}
                {{ costa.expediente?.cliente?.apellido1 }}
                {{ costa.expediente?.cliente?.apellido2 }}
              </td>
              <td class="px-4 py-4">{{ costa.expediente?.autos }}</td>
              <td
                class="px-4 py-4 w-30 whitespace-nowrap overflow-hidden text-ellipsis"
              >
                {{ costa.expediente?.juzgado }}
              </td>
              <td class="px-4 py-4">
                {{ costa.expediente?.procurador?.nombre }}
                {{ costa.expediente?.procurador?.apellido1 }}
              </td>
              <td class="px-4 py-4">
                {{ costa.fechaTC | date : "dd/MM/yyyy" }}
              </td>
              <td class="px-4 py-4">
                {{ costa.fecha15TC | date : "dd/MM/yyyy" }}
              </td>
              <td class="px-4 py-4">
                {{ costa.fechaDecreto | date : "dd/MM/yyyy" }}
              </td>
              <td class="px-4 py-4">
                {{ costa.fecha20Decreto | date : "dd/MM/yyyy" }}
              </td>
              <td class="px-4 py-4">
                {{ costa.expediente?.tipoProcedimiento }}
              </td>
              <td class="px-4 py-4">{{ costa.expediente?.contrario }}</td>
              <td class="px-4 py-4">
                {{
                  costa.importe
                    | currency : "EUR" : "symbol" : "1.2-2" : "es-ES"
                }}
              </td>
              <td
                class="px-3 py-4 space-x-2 inline-flex items-center justify-center"
              >
                <button
                  (click)="onEditCosta(costa)"
                  class="cursor-pointer"
                  matTooltip="Editar"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  (click)="onDeleteCosta(costa)"
                  matTooltip="Eliminar"
                  class="cursor-pointer"
                >
                  <mat-icon fontIcon="delete">delete</mat-icon>
                </button>
              </td>
            </tr>

            <!-- Fila de notas (expandible) -->
            <tr *ngIf="expandedElement === costa" class="bg-gray-50">
              <td class="p-4" [attr.colspan]="displayedColumns.length">
                <div class="mb-2 flex justify-between items-center w-full">
                  <h4 class="font-semibold text-dg">Notas:</h4>
                  <button
                    class="cursor-pointer"
                    mat-icon-button
                    (click)="onAddNota(costa)"
                    matTooltip="Añadir nota"
                  >
                    <mat-icon class="text-2xl">add</mat-icon>
                  </button>
                </div>
                <!-- Modal de formulario -->
                <app-modal-wrapper
                  [visible]="modalNotaVisible"
                  (close)="closeModalNota()"
                  [title]="notaSeleccionada ? 'Editar Nota' : 'Nueva Nota'"
                >
                  <app-nota-form
                    [nota]="notaSeleccionada"
                    (guardada)="onNotaGuardada($event)"
                    (cancelada)="closeModalNota()"
                    [costaId]="costaSeleccionada?.id"
                  ></app-nota-form>
                </app-modal-wrapper>

                <ng-container *ngIf="costa.notas?.length; else noNotas">
                  <ul class="list-disc list-inside space-y-1">
                    <li
                      *ngFor="let nota of costa.notas"
                      class="flex justify-between items-start"
                    >
                      <div>
                        <strong>{{ nota.usuario.name }}:</strong>
                        {{ nota.contenido }}
                        <span class="text-xs text-gray-500">
                          ({{ nota.fecha | date : "short" }})
                        </span>
                      </div>
                      <div class="space-x-1 text-sm text-gray-600">
                        <button
                          (click)="onEditNota(nota)"
                          matTooltip="Editar"
                          class="cursor-pointer"
                        >
                          <mat-icon
                            fontIcon="edit"
                            class="text-blue-600 hover:text-blue-800"
                            >edit</mat-icon
                          >
                        </button>
                        <button
                          (click)="onDeleteNota(nota, costa)"
                          matTooltip="Eliminar"
                          class="cursor-pointer"
                        >
                          <mat-icon
                            fontIcon="delete"
                            class="text-red-600 hover:text-red-800"
                            >delete</mat-icon
                          >
                        </button>
                      </div>
                    </li>
                  </ul>
                </ng-container>

                <ng-template #noNotas>
                  <p class="italic text-gray-500 text-sm">
                    Sin notas registradas.
                  </p>
                </ng-template>
              </td>
            </tr>
          </ng-container>

          <!-- Mensaje "no hay datos" -->
          <tr *ngIf="costas?.length === 0">
            <td
              [attr.colspan]="displayedColumns.length"
              class="p-4 text-center text-xl font-bold text-green-900"
            >
              No hay costas que mostrar
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator
      [length]="costas.length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[10, 15, 30]"
      showFirstLastButtons
      (page)="onPage($event)"
    >
    </mat-paginator>
  </main>
</div>
