<div class="transition duration-300">
  <main class="p-4 min-h-2/4 w-full m-auto mt-10">
    <div class="flex justify-between my-4 text-xl tracking-wide">
      <h2 class="font-extrabold uppercase text-[#052C13] drop-shadow-md">
        Costas
      </h2>
      <app-btn (click)="openModal()">Alta costas</app-btn>
    </div>
    <app-modal-wrapper
     *ngIf="showModal"
      [visible]="showModal"
      title="Alta de Costas"
      (close)="closeModal()"
    >
      <app-add-modal (save)="onSaveCosta($event)"></app-add-modal>
    </app-modal-wrapper>

    <!----------------------------- TABLA ------------------------------>
    <div class="relative overflow-x-auto shadow-lg rounded-2xl mb-4 z-20">
      <table class="able-auto text-sm text-left rtl:text-right mx-auto">
        <thead class="text-white font-bold bg-dg tracking-wide">
          <tr>
            <th class="px-6 py-3">Estado</th>
            <th class="px-6 py-3 w-30 truncate">Cliente</th>
            <th class="px-6 py-3">Autos</th>
            <th class="px-6 py-3">Juzgado</th>
            <th class="px-6 py-3">Procurador</th>
            <th class="px-6 py-3">Tasación</th>
            <th class="px-6 py-3">+15 días</th>
            <th class="px-6 py-3">Decreto</th>
            <th class="px-6 py-3">+20 días</th>
            <th class="px-6 py-3">Procedimiento</th>
            <th class="px-6 py-3">Contrario</th>
            <th class="px-6 py-3">Importe</th>
            <th class="px-3 py-3 w-20">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let costa of pagedCostas; let i = index">
            <!-- Fila principal -->
            <tr
              class="cursor-pointer hover:bg-gray-50 border-b border-gray-200"
              (click)="
                expandedElement = expandedElement === costa ? null : costa
              "
            >
              <td class="px-4 py-4">{{ costa.estado }}</td>
              <td
                class="px-4 py-4 w-30 whitespace-nowrap overflow-hidden text-ellipsis"
              >
                {{ costa.expediente?.cliente?.nombre }}
                {{ costa.expediente?.cliente?.apellido1 }}
                {{ costa.expediente?.cliente?.apellido2 }}
              </td>
              <td class="px-4 py-4">{{ costa.expediente?.autos }}</td>
              <td
                class="px-4 py-4 w-30 whitespace-nowrap overflow-hidden text-ellipsis"
              >
                {{ costa.expediente?.juzgado }}
              </td>
              <td class="px-4 py-4">
                {{ costa.expediente?.procurador?.nombre }}
                {{ costa.expediente?.procurador?.apellido1 }}
              </td>
              <td class="px-4 py-4">
                {{ costa.fechaTC | date : "dd/MM/yyyy" }}
              </td>
              <td class="px-4 py-4">
                {{ costa.fecha15TC | date : "dd/MM/yyyy" }}
              </td>
              <td class="px-4 py-4">
                {{ costa.fechaDecreto | date : "dd/MM/yyyy" }}
              </td>
              <td class="px-4 py-4">
                {{ costa.fecha20Decreto | date : "dd/MM/yyyy" }}
              </td>
              <td class="px-4 py-4">
                {{ costa.expediente?.tipoProcedimiento }}
              </td>
              <td class="px-4 py-4">{{ costa.expediente?.contrario }}</td>
              <td class="px-4 py-4">
                {{
                  costa.importe
                    | currency : "EUR" : "symbol" : "1.2-2" : "es-ES"
                }}
              </td>
              <td
                class="px-3 py-4 space-x-2 inline-flex items-center justify-center"
              >
                <a class="pointer edit" routerLink="">
                  <mat-icon matTooltip="Edit fee">edit</mat-icon>
                </a>
                <a class="pointer delete">
                  <mat-icon matTooltip="Delete fee">delete</mat-icon>
                </a>
              </td>
            </tr>

            <!-- Fila de notas (expandible) -->
            <tr *ngIf="expandedElement === costa" class="bg-gray-50">
              <td class="p-4" [attr.colspan]="displayedColumns.length">
                <div *ngIf="costa.notas?.length; else noNotas">
                  <h4 class="font-semibold text-dg mb-2">Notas:</h4>
                  <ul class="list-disc list-inside">
                    <li *ngFor="let nota of costa.notas">
                      <strong>{{ nota.usuario.name }}:</strong>
                      {{ nota.contenido }}
                      <span class="text-xs text-gray-500">
                        ({{ nota.fecha | date : "short" }})
                      </span>
                    </li>
                  </ul>
                </div>
                <ng-template #noNotas>
                  <p class="italic text-gray-500">Sin notas registradas.</p>
                </ng-template>
              </td>
            </tr>
          </ng-container>

          <!-- Mensaje "no hay datos" -->
          <tr *ngIf="costas?.length === 0">
            <td
              [attr.colspan]="displayedColumns.length"
              class="p-4 text-center text-xl font-bold text-green-900"
            >
              No hay costas que mostrar
            </td>
          </tr>
        </tbody>
      </table>

      <mat-paginator
        [length]="costas.length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[10, 15, 30]"
        showFirstLastButtons
        (page)="onPage($event)"
      >
      </mat-paginator>
    </div>
  </main>
</div>
